{% extends "procesos/plantilla_procesos.html" %}

{% block title %} Proyecto {% endblock %}

{% load static %}

{% block organigrama_up %}

{% endblock %}

{% block content %}

<div class="content-wrapper">
  <div class="container">
    <section class="content-header"  style="margin-top: 70px;">
      <h1>
        {% if proyecto %}
        {{ proyecto.proyecto_nombre }}
        {% endif %}
        <small>Planificar Respuestas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open"></i> Proyecto</a></li>
        <li class="active">Planificar Respuestas</li>
      </ol>
      {% if mensaje %}
      <div class="callout callout-info">
        <h4>Registro Exitoso</h4>
        {{mensaje}}      
      </div>
      {% endif %}
      {% if mensaje_eliminar %}
      <div class="callout callout-danger">
        <h4>Borrado Exitoso</h4>
          {{mensaje_eliminar}}      
      </div>
      {% endif %}
      {% if mensaje_editar %}
      <div class="callout callout-warning">
        <h4>Actualización Exitosa</h4>
        {{mensaje_editar}}      
      </div>
      {% endif %}
    </section>
    <section class="content">
        <div class="box">
            <div class="box-group" id="accordion">
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  	<h4 class="box-title">
                    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:#444444";>
                      		<label data-toggle="tooltip" data-placement="top" title="Presione aqui para ver mas información del proceso y generar su informe."><strong>Comunicar riesgos proyecto: {{ proyecto.proyecto_nombre }}  
                      			<i class="fa fa-sort-desc"></i>
                      		</strong></label>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="box-body">
                      INSERTAR CONTENIDO
                    <a href="/mi_proyecto/{{ proyecto.proyecto_id }}/planificar_respuestas/informe/">Generar informe</a>
                  </div>
                </div>
              </div>
           </div>
         </div>
  </div>
</div>

{% endblock %}
{% block organigrama_down %}
<!-- DataTables -->
<script src="{% static 'risk_project/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'risk_project/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>



{% endblock %}