{% extends "procesos/plantilla_procesos.html" %}

{% block title %} Proyecto {% endblock %}




{% load static %}
{% block organigrama_up %}
<style type="text/css">
  table, th, td {
    border-top: 1px solid black !important;
    border: 1px solid black;
  }
  td {
    width: 50px !important;
    height: 50px !important;   
  }

  .bajo {
    background-color: #138D75; 
  }

  .medio {
    background-color: #D68910; 
  }

  .alto {
    background-color: #CD5C5C; 
  }

</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="container">
    <section class="content-header"  style="margin-top: 70px;">
      <h1>
        {% if proyecto %}
        {{ proyecto.proyecto_nombre }}
        {% endif %}
        <small>Identificar riesgos</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Proyecto</li>
      </ol>
      {% if mensaje %}
      <div class="callout callout-info">
        <h4>Registro Exitoso</h4>
        {{mensaje}}      
      </div>
      {% endif %}
      {% if mensaje_eliminar %}
      <div class="callout callout-danger">
        <h4>Borrado Exitoso</h4>
          {{mensaje_eliminar}}      
      </div>
      {% endif %}
      {% if mensaje_editar %}
      <div class="callout callout-warning">
        <h4>Actualización Exitosa</h4>
        {{mensaje_editar}}      
      </div>
      {% endif %}
    </section>
    <section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Nombre Proyecto</h3>
        </div>
        <div class="box-body">
          Aqui deberia ir la información del proyecto.
          <a href="/mi_proyecto/{{ proyecto.proyecto_id }}/generar_informe/">Generar informe</a>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              
            </div>
            <div class="col-md-10">
              <table class="table">
                <tbody id="matriz_calor">                 
                </tbody>
              </table>
            </div>
            <div class="col-md-2">
              
            </div>
          </div>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Nombre Proyecto</h3>
        </div>
        <div class="box-body">
        	<table id="tabla_riesgos" class="table table-bordered table-striped">
	            <thead>
	              <tr>
	              	<th></th>
	                <th>Riesgo</th>
	                <th>Responsables</th>
	                <th>Recursos</th>               
	              </tr>
	            </thead>
	            <tbody>
	             {% if lista_riesgos %}
	             {% for riesgo in lista_riesgos %}
	             <tr>
	             	<td></td>
	              <td>{{ riesgo.riesgo_nombre }}</td>
	              <td> 
	                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-respuestas" onclick="abrir_modal_respuestas('{{ riesgo.riesgo_id }}')"><i   class="fa fa-edit"></i></button>
	              </td>
	              <td>
	                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-responsables" onclick="abrir_modal_responsables('{{ riesgo.riesgo_id }}')"><i   class="fa fa-edit"></i></button>
	              </td>                  
	            </tr>
	            {% endfor %}
	            {% else %}
	            <tr>
	              <td></td>
	              <td>No cuentas con riesgos registrados.</td>
	              <td></td> 
	              <td></td>
	            </tr>
	            {% endif %} 
	          </tbody>
	          <tfoot>
	            <tr>
	              <th></th>
	              <th>Riesgo</th>
	              <th>Responsables</th>
	              <th>Recursos</th> 
	            </tr>
	          </tfoot>
	        </table>
        </div>
      </div>
  </div>
</div>



<!-- /.modal responsables -->
<div class="modal fade" id="modal_responsables">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-edit"></i> Responsables</h4>
        </div>
        <div class="modal-body">

         <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#listado-responsables" data-toggle="tab"> Listado</a></li>
            <li ><a href="#nuevo-responsable" data-toggle="tab">Nuevo Responsable</a></li>            

          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="listado-responsables" style="position: relative; height: 300px;">

             <div class="box-body">

               <table id="tabla_responsables" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>                                      
                  </tr>
                </thead>
                <tbody >         
                  {% if responsables_riesgo %}
                  {% for responsable in responsables_riesgo %}
                  
                  <tr>
                    <td>{{ responsable.responsble_nombre }}</td>                                       
                    <td>
                      <button type="button" class="btn btn-danger" data-toggle="#modal_eliminar" onclick="abrir_modal_eliminar('{{ riesgo.riesgo_nombre }}', '{{ riesgo.riesgo_id }}')" data-target="#modal_eliminar"><i class="fa fa-trash-o danger"></i>
                      </button>
                    </td>
                  </tr>
                    
                  {% endfor %}
                  {% else %}
                    <td>No cuentas con responsables asociados a este riesgo.</td>
                    <td></td>
                  {% endif %} 
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>      
                  </tr>
                </tfoot>
              </table>
            </div>  

        </div>
        <div class="chart tab-pane" id="nuevo-responsable" style="position: relative; height: 300px;">
         <div class="box-body">
          <form action="/proyecto/{{ proyecto.proyecto_id }}/responsable_riesgo/" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="bloq_subcategorias" class="form-group">
                    <label>Responsables</label>
                    {% if lista_responsables %}                    
                    <select class="form-control select2" id="responsable_id" name="responsable_id">
                      {% for responsable in lista_responsables %}
                      <option value="{{ responsable.responsable_id }}">
                       {{ responsable.responsble_nombre }}
                     </option>
                     {% endfor %}
                     {% else %}
                     <p>No cuentas con responsables asociados al proyecto.</p>
                     {% endif %} 
                   </select>
                 </div>
               </div>
               <!-- / input para pasar el id del riesgo al asociarle la actividad -->
               <input type="text" class="form-control" id="riesgo_id_re" name="riesgo_id" style="visibility:hidden">
               <button type="submit" class="btn btn-primary pull-right">Agregar</button>
             </div>
             <!-- /.col -->
           </div>
           <!-- /.row -->
         </form>
       </div><!-- /.box-body -->
     </div>     
   </div>
 </div>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<!-- /modal respuestas -->
<div class="modal fade" id="modal_respuestas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-edit"></i> Respuestas preliminares</h4>
        </div>
        <div class="modal-body">

         <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#listado-respuestas" data-toggle="tab"> Listado</a></li>
            <li ><a href="#nueva-respuesta" data-toggle="tab">Nueva Respuesta</a></li>            

          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="listado-respuestas" style="position: relative; height: 300px;">

             <div class="box-body">

              <table id="tabla2" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Respuesta</th>
                    <th>Descripción</th>                  
                    <th>Acciones</th>                    
                  </tr>
                </thead>
                <tbody id="respuestas_body">                 
                  <tr>
                    <td>No cuentas con respuestas asociadas a este riesgo.</td>
                    <td></td> 
                    <td></td>                
                  </tr>
                </tbody>
              <tfoot>
                <tr>
                  <th>Respuesta</th>
                  <th>Descripción</th>                  
                  <th>Acciones</th>      
                </tr>
              </tfoot>
            </table>
          </div>  

        </div>
        <div class="chart tab-pane" id="nueva-respuesta" style="position: relative; height: 300px;">
         <div class="box-body">
          <form action="/proyecto/{{ proyecto.proyecto_id }}/nueva_respuesta/" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label >Nombre</label>
                    <input type="text" class="form-control" id="respuesta_nombre" placeholder="Nombre respuesta" name="respuesta_nombre">
                  </div>
                </div>
                <!-- / input para pasar el id del riesgo al asociarle la respuesta -->
                <input type="text" class="form-control" id="riesgo_id_r" name="riesgo_id" style="visibility:hidden">
              </div>           
              <div class="col-md-6">
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control" rows="3" placeholder="Descripción de la respuesta preliminar" name="respuesta_descripcion"></textarea>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-default">Cancelar</button>
                  <button type="submit" class="btn btn-primary pull-right">Registrar</button>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </form>
        </div><!-- /.box-body -->
      </div>     
    </div>
  </div>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /modal respuestas -->
{% endblock %}
{% block organigrama_down %}
<!-- DataTables -->
<script src="{% static 'risk_project/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'risk_project/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript">

	$(document).ready(function() {
	    var t = $("#tabla_riesgos").DataTable({
			 
			"order": [[ 1, 'asc' ]],
	    	"language": {
	         "sProcessing":    "Procesando...",
	         "sLengthMenu":    "Mostrar _MENU_ registros",
	         "sZeroRecords":   "No se encontraron resultados",
	         "sEmptyTable":    "Ningún dato disponible en esta tabla",
	         "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	         "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
	         "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
	         "sInfoPostFix":   "",
	         "sSearch":        "Buscar:",
	         "sUrl":           "",
	         "sInfoThousands":  ",",
	         "sLoadingRecords": "Cargando...",
	         "oPaginate": {
	             "sFirst":    "Primero",
	             "sLast":    "Último",
	             "sNext":    "Siguiente",
	             "sPrevious": "Anterior"
	         },
	         "oAria": {
	             "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
	             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	         }
	    	}	    	
        	
		}); 
	 
	    t.on( 'order.dt search.dt', function () {
	        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
	            cell.innerHTML = i+1;
	        } );
	    } ).draw();
	});

  function abrir_modal_respuestas(id_riesgo) {
   
    $("#modal_respuestas").modal('show');
  };

  function abrir_modal_responsables(id_riesgo, responsables) {                
    $("#modal_responsables").modal('show');
    var input_id = document.getElementById("riesgo_id_re");
    input_id.value = id_riesgo;
};
</script>


{% endblock %}